/* GENERAL STYLES */
body {
  background-color: rgb(195, 142, 166);
  min-height: 280px;
  height: 80vh;
}

/* CONTAINER */
.todo-container {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 80vw;
  min-height: 200px;
  max-height: 80vh;
  outline: 1px solid rgb(255, 255, 255);
}
